

body{
    width: 90vw;
    margin: auto;
    background-image: url("/BlogBg.png");
    background-size: 500px;
    background-position-y: -10px;
    background-repeat: repeat;
    padding: 0px;   
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-color: #D1E9F6;
    border-radius: 15px;
    border-style: solid;
    border-width: 10px;
    margin-top: 2rem;
}

.header-logo{
    width: 300px;
}

header h1{
    font-family: 'DM Serif Display', Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: 3rem;
    line-height: 0rem;
}


header p{
    font-family: 'DM Sans', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1rem;
}





.navlinks{
    display: flex;
    list-style-type: none;
}

.navlinks a{
    padding: 0rem 1rem;
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
    font-family: 'DM Sans', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3rem;
}

.navlinks a:hover{
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/squiggle.svg");
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: 20%;
    border-bottom: 0;
    padding-bottom: .3em;
    text-decoration: none;
    
}


main{
    padding: 2rem 0rem;
    height: fit-content;
}

main h1{
    font-size: 3rem;
    font-family: 'DM Serif Display', Georgia, 'Times New Roman', Times, serif;
    margin: 0rem;
    padding-top: 1rem;
}

main p{
    line-height: 0rem;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1rem;
}


.post-list{
    display: flex;
    padding-top: 1rem;
}

.post-excerpt{
    padding-left: 1.5rem;
}

.post-list img{
    width: 300px;
    border-radius: 40px;
}

.post-list h1{
    font-size: 2rem;
    font-family: 'DM Serif Display', Georgia, 'Times New Roman', Times, serif;
    margin: 0rem;
    padding-top: 1rem;
}

.post-list p{
    line-height: 1rem;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1rem;
}

.main-tour{
    display: flex;
    justify-content: space-between;
    height: 25vh;
    padding-top: 3rem;
    padding-bottom: 5rem;
}


main section{
    padding-left: 2rem;
}

.register-buttons{
    padding-top: 2rem;
    width: 40vw;
    display: inline-block;
}

.register-buttons button{
    padding: 1rem;
    font-family: 'DM Sans', Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 40px;
    background-color: rgb(255, 253, 240);
}

.register-buttons button:hover{
    padding: 1rem;
    font-family: 'DM Sans', Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 40px;
    background-color: rgb(222, 189, 140);
    transition: all 0.5s ease-in-out;
    scale: 0.9;
}

.register-buttons input{
    padding: 1rem;
    font-family: 'DM Sans', Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px;
    width: 20vw;
}

.register-buttons textarea{
    padding: 1rem;
    font-family: 'DM Sans', Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px;
    width: 50vw;
}


.register-buttons h2{
    font-family: 'DM Sans', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
}



section img{
    width: 350px;
    border-radius: 40px;
}

section img:hover{
    transition: all 0.7s ease-in-out;
    scale: 1.1;
}

section h2{
    line-height: 1.2;
    padding-bottom: 0.5rem;
    font-family: 'DM Sans', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.4rem;
}

section li{
    font-family: 'DM Sans', Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    list-style-type: square;
    color: black;
    font-size: 1.2rem;
}

section li a{
    text-decoration: none;
    color: black;
}

section li a:hover{
    text-decoration: none;
    color: brown;
}





footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-color: #F1D3CE;
    border-radius: 15px;
    border-style: solid;
    border-width: 10px;
    margin-bottom: 2rem;
}

.footer-text{
    font-size: 1rem;
    font-family: 'DM Serif Display', Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
    line-height: 0.5rem;
}

.footer-logo{
    width: 200px;
}