---
// Your component script here!
import Post_Excerpt from '../components/Post_Excerpt.astro';
import Page_Layout from '../layouts/Page_Layout.astro';
---




<Page_Layout title="Sign in">
    <main>
            

    
    
        <h1>Welcome to the Pastel Times.</h1> 







<Post_Excerpt />
<Post_Excerpt />
<Post_Excerpt />
<Post_Excerpt />
<Post_Excerpt />
<Post_Excerpt />



</main>
  
  </Page_Layout>