---
import Page_Layout from "../layouts/Page_Layout.astro";
---

<Page_Layout title="Register">
  <h1>Register</h1>
  <p>Already have an account? <a href="/signin">Sign in</a></p>


  <form class="register-buttons" action="/api/auth/register" method="post">

    <label for="email"><h2>Email</h2></label>
    <input type="email" name="email" id="email" />

    <label for="password"><h2>Password</h2></label>
    <input type="password" name="password" id="password" />





    <label>
      <h2>First Name</h2>
      <input type="text" id="first_name" name="first_name" required />
    </label>


    <label>
    <h2>Last Name</h2>
      <input type="text" id="last_name" name="last_name" required />
    </label>




    









    <button type="submit">Register</button>
  </form>




  
</Page_Layout>